<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sdk.butterfly_sdk">

    <application>
        <provider
            android:name="sdk.butterfly_sdk.ActivityProvider"
            android:authorities="${applicationId}.sdk.butterfly_sdk.ActivityProvider"
            android:exported="false" />
    </application>
</manifest>
